<ion-content [fullscreen]="true">
  <section class="header">
    <ion-title class="title">Ingrese su email
      <p class="subtitle">para recibir un enlace de restablecimiento de contraseña</p>
    </ion-title>
  </section>
  <section>
    <ion-item>
      <ion-input class="input" placeholder="Ingresa tu Email" [(ngModel)]="email" ></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
  </section>
  <ion-fab class="arrow-icon">
    <ion-fab-button (click)="resetPassword()" >
      <ion-icon name="chevron-forward" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
