:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-filed: #F7F7F7;
  --hospital-green: #ACD9B2;
}

.header {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;

  .subtitle {
    --very-light-pink: #C7C7C7;
    color: var(--very-light-pink);
    font-size: 0.9rem;
  }
}

.input {
  font-size: 300;
}

ion-item {
  --text-input-filed: #F7F7F7;
  --background: var(--text-input-filed);
  border-radius: 10px;
  margin-bottom: 16px;
}

.arrow-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 10px;
}
