<ion-content [fullscreen]="true">
  <section class="header">
    <app-logo></app-logo>
    <ion-title class="title">Recuperar Cuenta</ion-title>
    <p class="subtitle">Ingresa tu correo electrónico para recuperar la constraseña</p>
  </section>

  <section class="d-flex-center">

    <form [formGroup]="form" novalidate>
      <section class="ion-padding">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input class="input" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <section class="warning" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
          <ion-text *ngIf="errorControl.email.errors?.required">
            El email es obligatorio.
          </ion-text>
          <ion-text *ngIf="errorControl.email.errors?.pattern">
            El email es inválido.
          </ion-text>
        </section>

        <section>
          <button class="reset-button" (click)="resetPassword()">Recuperar</button>
        </section>

        <section class="login-link">
          <p><a [routerLink]="['/login']">Inicia sesión</a></p>
        </section>


      </section>
    </form>

  </section>

</ion-content>
