.toolbar-control {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  ion-title{
    margin-left: 80px;
  }
}

.header{
  background-color: black;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.title{
  font-size: 30px;
}

.arrow-back-icon {
  justify-self: start;
}

.arrow-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 10px;
}
