:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-filed: #F7F7F7;
  --hospital-green: #ACD9B2;
}

.header {
  --very-light-pink: #C7C7C7;
  margin-top: 70px;
  margin-bottom: 60px;
  text-align: center;

  .title{
    margin-top: 40px;
  }

  .subtitle {
    color: var(--very-light-pink);
    font-size: 1rem;
  }
}

.input {
  font-size: 300;
  margin-left: 20px;
}

ion-item {
  --text-input-filed: #F7F7F7;
  --background: var(--text-input-filed);
  border-radius: 10px;
  margin-bottom: 16px;
}

.warning {
  display: flex;
  padding: 20px;
  margin-top: -25px;
  align-items: center;
  color: red;
}

.validators {
  display: flex;
  padding: 20px;
  margin-top: -25px;
  align-items: center;
  color: red;
}

.register-button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  margin-bottom: 50px;
}

.login-link {
  --hospital-green: #ACD9B2;
  display: flex;
  margin-top: 20px;
  margin: auto;
  flex-direction: row;
  align-content: center;

  justify-content: center;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;

  p {
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
    color: var(--hospital-green);
  }

}

.arrow-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 10px;
}


