<ion-content [fullscreen]="true">
  <section class="header">
    <app-logo></app-logo>
    <ion-title class="title">Bienvenido</ion-title>
    <p class="subtitle">Inicia sesión para acceder a tu cuenta</p>
  </section>

  <section class="d-flex-center">

    <form [formGroup]="loginForm" novalidate>
      <section class="ion-padding">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input class="input" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <section class="warning" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
          <ion-text *ngIf="errorControl.email.errors?.required">
            El email es obligatorio.
          </ion-text>
          <ion-text *ngIf="errorControl.email.errors?.pattern">
            El email es inválido.
          </ion-text>
        </section>

        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input class="input" placeholder="Contraseña" formControlName="password" type="{{ hidePassword ? 'password' : 'text' }}"></ion-input>
          <ion-button slot="end" fill="clear" shape="round" (click)="showOrHidePassword()">
            <ion-icon slot="icon-only" [name]="hidePassword ? 'eye-outline' : 'eye-off-outline' "></ion-icon>
          </ion-button>
        </ion-item>

        <section class="warning" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
          <ion-text *ngIf="errorControl.password.errors?.required">
            La contraseña es obligatoria.
          </ion-text>
          <ion-text *ngIf="errorControl.password.errors?.pattern">
            La contraseña es inválida. Debe tener al menos 8 caracteres, una mayúscula, una minúscula y un número.
          </ion-text>
        </section>

        <section>
          <button class="login-button" (click)="login()">Iniciar Sesión</button>
        </section>

        <section class="forgot-password">
          <a [routerLink]="['/reset-password']">¿Olvidaste tu contraseña?</a>
        </section>
        <section class="signup-link">
          <p>¿No tienes cuenta? <a [routerLink]="['/signup']">Regístrate ahora</a></p>
        </section>
      </section>
    </form>

  </section>

</ion-content>
