

<ion-content>

  <div class="header">
    <app-header></app-header>
  </div>

  <div class="upperBox d-flex" (click)="goToRh1()">
    <div class="square">
      <img src="../../assets/icon/medico.png" />
    </div>
    <div class="rectangle me-auto">
      <h3>Formato RH1</h3>
      <small class="text-muted">Control de Residuos</small>
    </div>
    <div class="carret align-self-center align-items-end">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>




